.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 4px solid rgb(19, 17, 17);
  border-radius: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
  background-color: black;
}

.tag {
  color: rgb(65, 63, 63);
  font-size: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.userName {
  color: black;
  font-weight: bold;
  font-size: 36px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 4px solid rgb(118, 115, 115);
  width: 100%;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.list .item:not(:last-child) {
  border-right: 4px solid rgb(118, 115, 115);
}

.value {
  font-weight: bold;
}
