.container {
  border: 2px solid rgb(15, 14, 14);
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.img {
  width: 100px;
  margin-bottom: 20px;
}
.name {
  font-size: 32px;
  font-weight: bold;
}

.isOnline {
  color: green;
}

.offline {
  color: red;
}
